{% include "cart/empty.html" %}
<div class="inline-flex flex-wrap justify-center gap-10 p-10">
  {% for variant, attr in cart.items %}
    <form id="form{{ variant.id }}" method="post">{% csrf_token %}
      <input type="hidden" name="variant_id" value="{{ variant.id }}">
      <!--
        When the checkbox is not checked the input will not be sent.
        We use a hidden input to always send the false value
      -->
      <input type="hidden" name="is_active">
      <div>
        <div class="flex flex-col justify-center items-center">
          <a href="{% url 'product_color_size' variant.product.id variant.color.id variant.size.id %}">
            <img class="object-contain h-[30rem] w-auto" src="{{ variant.default_image }}" alt="{{ variant.name }}">
          </a>
        </div>
        <div class="flex flex-row justify-between gap-2">
          <div class="mx-auto text-center">
            <p>{{ variant.product.name }}</p>
            {% if not variant.real_discount %}
              <p>{{ variant.real_price }} EUR</p>
            {% else %}
              <div class="inline-flex flex-wrap justify-center items-center gap-2">
                <p class="font-manrope">{{ variant.discounted_price|floatformat:2 }} EUR</p>
                <p class="text-sm font-manrope text-red-500">(-{{ variant.real_discount.percentage }}%)</p>
              </div>
            {% endif %}
          </div>
          <div class="mx-auto text-center">
            <p>{{ variant.product.brand.name }}</p>
            <p>{{ variant.size.name }} | {{ variant.color.name }}</p>
          </div>
        </div>
        <div class="grid justify-center items-center my-2">
          <div class="inline-flex justify-center items-center gap-4">
            <div class="mx-auto">
              <input type="checkbox" id="is_active{{ variant.id }}" name="is_active"
                     autocomplete="off"
                     class="inline-flex justify-center items-center p-3 text-gray-500 dark:text-gray-600
                        bg-white dark:bg-stone-500 border border-gray-200 dark:border-zinc-800
                         rounded-lg cursor-pointer peer-checked:border-blue3 dark:peer-checked:border-stone-500 peer-checked:text-blue3
                         dark:peer-checked:text-stone-500 hover:text-gray-600 dark:hover:text-stone-500 hover:bg-gray-100 dark:hover:bg-zinc-800
                          dark:focus:ring-stone-500 dark:focus:ring-offset-darkbg"
                  {% if attr.is_active %} checked {% endif %}
                     hx-post="{% url "cart_edit" %}"
              />
            </div>
            <div class="mx-auto">
              <select name="quantity" id="quantity{{ variant.id }}"
                      autocomplete="off"
                      class="dark:border-stone-500 dark:bg-darkbg"
                      hx-post="{% url "cart_edit" %}"
                      hx-target="#cart-total-price">
                {% with ''|center:variant.stock as range %}
                  {% for _ in range %}
                    <option value="{{ forloop.counter }}"
                            {% if attr.quantity == forloop.counter %}selected{% endif %}
                    >{{ forloop.counter }}</option>
                  {% endfor %}
                {% endwith %}
              </select>
            </div>
            <div class="mx-auto">
              <button type="submit" id="delete{{ variant.id }}"
                      class="block border border-solid border-black dark:border-stone-500 mx-auto py-2 px-4 hover:bg-gray-100 dark:hover:bg-stone-900 text-center"
                      hx-post="{% url "cart_delete" %}"
                      hx-target="#form{{ variant.id }}"
              >Rimuovi dal carrello
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% endfor %}
</div>
{% include "cart/place_order.html" %}
