Django~=5.1.1
psycopg~=3.2.3
psycopg2-binary~=2.9.10
django-extensions~=3.2.3
django-nested-admin~=4.1.0
pillow~=11.0.0
django-cleanup~=9.0.0
django-htmx~=1.21.0
django-unused-media~=0.2.2
django-admin-sortable2~=2.2.3
django-tree-queries~=0.19.0
feincms3~=5.2.3
django-tailwind~=3.8.0
django-browser-reload~=1.17.0
django-widget-tweaks~=1.5.0
django-phonenumber-field[phonenumberslite]~=8.0.0
redis~=5.2.0
hiredis~=3.0.0

