<form action="{% url "place_order" %}" method="post">
  {% load widget_tweaks %}
  {% csrf_token %}
  {% csrf_token %}
  <div class="fieldWrapper">
    {{ form.name.errors }}
    {{ form.name.label_tag }}
    {{ form.name |add_class:"" }}
  </div>
  <div class="fieldWrapper">
    {{ form.phone_number.errors }}
    {{ form.phone_number.label_tag }}
    {{ form.phone_number |add_class:"" }}
  </div>
  <div class="fieldWrapper">
    {{ form.address_line_one.errors }}
    {{ form.address_line_one.label_tag }}
    {{ form.address_line_one |add_class:"" }}
  </div>
  <div class="fieldWrapper">
    {{ form.address_line_two.errors }}
    {{ form.address_line_two.label_tag }}
    {{ form.address_line_two |add_class:"" }}
  </div>
  <div class="fieldWrapper">
    {{ form.province.errors }}
    {{ form.province.label_tag }}
    {{ form.province |add_class:"" }}
  </div>
  <div class="fieldWrapper">
    {{ form.postal_code.errors }}
    {{ form.postal_code.label_tag }}
    {{ form.postal_code |add_class:"" }}
  </div>
  <div class="fieldWrapper">
    {{ form.city.errors }}
    {{ form.city.label_tag }}
    {{ form.city |add_class:"" }}
  </div>
  <div class="fieldWrapper">
    {{ form.payment_method.errors }}
    {{ form.payment_method.label_tag }}
    {{ form.payment_method |add_class:"" }}
  </div>
  {% for variant in variants %}
    <div>
      <img class="product-image" src="{{ variant.get_images.0.url }}" alt="{{ variant.product }}">
      <p><strong>Prezzo:</strong> {% if variant.price != 0 %}{{ variant.price }}{% else %}{{ variant.product.price }}{% endif %}</p>
    </div>
  {% endfor %}
  <p><strong>Totale:</strong> {{ total_price }}</p>
  <input type="submit" value="Submit">
</form>
