{% load static %}
{% if widget.wrap_label %}
  <label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}>{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}" class="hidden peer"
    {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
    {% include "django/forms/widgets/attrs.html" %}>

{% if widget.wrap_label %}
  <div class="peer-checked:ring-2 peer-checked:ring-black dark:peer-checked:ring-stone-500">
    {% if widget.label == "Contrassegno" %}
      <img src="{% static 'img/contrassegno.jpg' %}" alt="Contrassegno" class="w-40 p-3">
    {% elif widget.label == "Paypal" %}
      <img src="{% static 'img/Paypal_logo.webp' %}" alt="Paypal" class="w-40 p-3">
    {% elif widget.label == "Stripe" %}
      <img src="{% static 'img/Stripe_logo.png' %}" alt="Stripe" class="w-40 p-3">
    {% endif %}
  </div>
  </label>
{% endif %}
