{%extends 'base.html'%}

{% block title %}Reset Password{% endblock title %}

{%block content%}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Reset Password</h2>
    </div>
    <div class="my-10 sm:mx-auto sm:w-full sm:max-w-sm text-center">
      <p>Per favore, controlla la tua posta elettronica e segui le istruzioni per eseguire il reset della password.</p>
    </div>
  </div>
{%endblock content%}
