{%extends 'base.html'%}

{% block title %}Reset Password{% endblock title %}

{%block content%}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">La tua password è stata cambiata con successo.</h2>
    </div>
    <div class="my-10 sm:mx-auto sm:w-full sm:max-w-sm text-center">
      <a href="{% url 'login' %}" class="font-semibold text-indigo-600 hover:text-indigo-500">Accedi al tuo account</a>
    </div>
  </div>
{%endblock content%}
