{% extends "accounts/base.html" %}

{% block title %}Registrazione Cliente{% endblock %}

{% block content %}

  <div>
    <div>
      <h2>Informazioni Account</h2>
      <p><strong>Nome:</strong> {{ user.first_name }}</p>
      <p><strong>Cognome:</strong> {{ user.last_name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <a href="{% url 'edit_profile' %}" hx-boost="true" preload="mouseover" preload-images="true">Modifica il profilo</a><br>
      <a href="{% url 'change_password' %}" hx-boost="true" preload="mouseover" preload-images="true">Cambia Password</a>
      <form action="{% url 'logout' %}" method="post">{% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </div>

    {% include "orders/orders.html" %}
  </div>
{% endblock %}
