{% extends "accounts/base.html" %}

{% block title %}Registrazione Cliente{% endblock %}

{% block content %}

  <div class="grid grid-cols-2 gap-4 my-4 p-5">
    <div>
        <div class="grid grid-cols-1 grid-rows-3 gap-6 p-10 border border-black dark:border-stone-500 lg:ml-96 md:ml-auto sm:ml-auto">
            <h2 class="text-xl">Informazioni personali</h2>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            <p>{{ user.email }}</p>
        </div>
        <div class="grid grid-cols-1 grid-rows-3 gap-6 p-10 lg:ml-96 md:ml-auto sm:ml-auto">
            <a href="{% url 'edit_profile' %}">Modifica il profilo</a>
            <a href="{% url 'change_password' %}">Cambia Password</a>
            <form action="{% url 'logout' %}" method="post">{% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>

    <div class="px-6">
        {% include "orders/orders.html" %}
    </div>
  </div>
{% endblock %}
