{% extends "accounts/base.html" %}

{% block title %}Registrazione Cliente{% endblock %}

{% block content %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Crea il tuo account</h2>
        </div>

        <div class="my-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
                    <div>
                        {{ form.username }}
                    </div>
                </div>
                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
                        <div class="text-sm">
                            <a href="{% url 'password-reset' %}" class="font-semibold text-indigo-600 hover:text-indigo-500">Hai dimenticato la password?</a>
                        </div>
                    </div>
                    <div class="mt-2">
                        {{ form.password }}
                    </div>
                </div>
                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
                </div>
            </form>

            <p class="mt-10 text-center text-sm/6 text-gray-500">
              Non hai un account?
              <a href="{% url 'signup' %}" class="font-semibold text-indigo-600 hover:text-indigo-500">Registrati</a>
            </p>
        </div>
    </div>
{% endblock %}


{% block content %}

    <h2>Sign Up</h2>

    <!-- Signup form -->
    <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.first_name.label_tag }}</td>
        <td>{{ form.first_name }}</td>
    </tr>
    <tr>
        <td>{{ form.last_name.label_tag }}</td>
        <td>{{ form.last_name }}</td>
    </tr>
    <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
    </tr>
    <tr>
        <td>{{ form.password1.label_tag }}</td>
        <td>{{ form.password1 }}</td>
    </tr>
    <tr>
        <td>{{ form.password2.label_tag }}</td>
        <td>{{ form.password2 }}</td>
    </tr>
    </table>

    <input type="submit" value="Registrati">
    <input type="hidden" name="next" value="{{ next }}">
    </form>

    <!-- Signup form errors -->
    {% if form.errors.email %}
        <tr>
            <td colspan="2">{{ form.errors.email }}</td>
        </tr>
    {% endif %}
    {% if form.errors.password1 %}
        <tr>
            <td colspan="2">{{ form.errors.password1 }}</td>
        </tr>
    {% endif %}
    {% if form.errors.password2 %}
        <tr>
            <td colspan="2">{{ form.errors.password2 }}</td>
        </tr>
    {% endif %}

    <!-- Login link -->
    <div>
        <p>Hai già un account?</p>
        <a href="{% url 'login' %}">Accedi</a>
    </div>

{% endblock %}
