{% load static tailwind_tags %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-white text-black dark:bg-bgdark dark:text-txwhite">
<head>
  <title>{% block title %}Ecommerce Rossi{% endblock %}</title>
  {% tailwind_css %}
  <script src="{% static "js/htmx.min.js" %}" defer></script>
  <script src="{% static "js/preload.js" %}" defer></script>
  <meta name="htmx-config" content='{"allowNestedOobSwaps":false}'>
  {% django_htmx_script %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lacquer&display=swap" rel="stylesheet">
</head>
<body hx-ext="preload" class="font-kani h-full">
<div class="flex flex-col h-screen justify-between" hx-boost="true" preload="mouseover"
     preload-images="true">

  {% block header %}
    <div class="flex flex-col h-screen justify-between">
    <header class="flex flex-row justify-between p-4">
      <div class="flex flex-col justify-center items-center gap-2 sm:mx-auto">
        <h1 class="text-5xl"><a href="{% url 'homepage' %}">WARDROBE©</a></h1>
        <div class="inline-flex gap-6">
          {% for category in MAIN_CATEGORIES %}
            <a href="{% url 'search_category' category.id %}">{{ category.name|upper }}</a>
          {% endfor %}
        </div>
      </div>
      {% block header_links %}{% endblock %}
      <div class="inline-flex justify-center items-center gap-6 sm:mx-auto">
        <a id='cart-link' href="{% url 'cart' %}">CARRELLO ({{ CART_TOTAL_QUANTITY }})</a>
        {% if user.is_authenticated %}
          <a href="{% url 'profile' %}">CIAO, {{ user.first_name|upper }}</a>
        {% else %}
          <a href="{% url 'login' %}">ACCEDI</a>
        {% endif %}
      </div>
    </header>
  {% endblock %}

  <main id="content" class="mb-auto font-rhd px-10"> <!-- border-4 border-sky-500h -->
    {% block content %}
    {% endblock %}
  </main>

  <div id="modal"></div>

  {% block footer %}
    <footer class="border-t border-black dark:border-caffe mt-2">
      <!-- Links -->
      <div class="flex flex-row justify-between items-center py-10">

        <div class="flex flex-col justify-center items-center mx-auto">
          <p class="text-3xl">Seguici</p>
          <div class="inline-flex gap-2 justify-center items-center ">
            <a href="#" class="text-normal text-justify text-gray-500 dark:text-grullo hover:underline">Facebook</a>
            <a href="#" class="text-normal text-justify text-gray-500 dark:text-grullo hover:underline">Twitter</a>
            <a href="#" class="text-normal text-justify text-gray-500 dark:text-grullo hover:underline">Instagram</a>
          </div>
        </div>

        <div class="flex flex-col justify-center items-center mx-auto">
          <p class="text-3xl">Legale</p>
          <div class="inline-flex gap-4 justify-center items-center">
            <a href="#" class="text-normal text-justify text-gray-500 dark:text-grullo hover:underline">Privacy Policy</a>
            <a href="#" class="text-normal text-justify text-gray-500 dark:text-grullo hover:underline">Termini di servizio</a>
            <a href="#" class="text-normal text-justify text-gray-500 dark:text-grullo hover:underline">Cookie Policy</a>
          </div>
        </div>

        <div class="flex flex-col justify-center items-center mx-auto">
          <p class="text-3xl">Supporto</p>
          <div class="inline-flex gap-4 justify-center items-center">
            <a href="#" class="text-normal text-justify text-gray-500 dark:text-grullo hover:underline">Contatti</a>
            <a href="#" class="text-normal text-justify text-gray-500 dark:text-grullo hover:underline">FAQ</a>
            <a href="#" class="text-normal text-justify text-gray-500 dark:text-grullo hover:underline">Support tecnico</a>
          </div>
        </div>
      </div>

      <!-- copyright -->
      <div class="bg-gray-200 dark:bg-cinder flex justify-center items-center py-3">
        <p>&copy; 2024 WARDROBE. Tutti i diritti riservati.</p>
      </div>
    </footer>
  {% endblock %}
  </div>
</div>
</body>
</html>
