{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Ecommerce Rossi{% endblock %}</title>
  {% tailwind_css %}
  <script src="{% static "js/htmx.min.js" %}"></script>
  <script src="{% static "js/preload.js" %}"></script>
</head>
<body hx-ext="preload">
<header>
  {% block header %}
    <a class="text-5xl text-blue-600 dark:text-blue-500 hover:underline"
       href="{% url 'homepage' %}">My Ecommerce</a>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}">Hi, {{ user.first_name }}</a></li>
          <form action="{% url 'logout' %}" method="post">{% csrf_token %}<button type="submit">Logout</button></form>
        {% else %}
          <li><a href="{% url 'login' %}">Accedi</a></li>
        {% endif %}
        {% block header_urls %}
        {% endblock %}
      </ul>
    </nav>
  {% endblock %}
</header>

<main id="content">
  {% block content %}{% endblock %}
</main>

<div id="modal"></div>

<footer>
  {% block footer %}
    <p>&copy; 2024 My Ecommerce</p>
  {% endblock %}
</footer>
</body>
</html>
