<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Ecommerce{% endblock %}</title>
</head>
<body>
    <header>
        <div>
            <h1><a href="{% url 'homepage' %}">My Ecommerce</a></h1>
            <nav>
                <ul>
                    <li><a href="#">Carrello</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Hi, {{ user.first_name }}</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Accedi</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Ecommerce</p>
    </footer>
</body>
</html>