{% extends "products/base.html" %}

{% block title %}Registrazione Cliente{% endblock %}

{% block content %}

    <h2>Esplora le nostre categorie</h2>

    <!-- Start Master Categories Choice -->

    <div class="categories">
        {% for category in main_categories_list %}
            <div class="category">
                <a href="{% url 'search' %}?category={{ category.id }}">
                    <img src="#" alt="{{ category.name }}">
                    <h3>{{ category.name }}</h3>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
