<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .filters {
            display: inline-table;
        }
    </style>
</head>
<body>

<p>User authenticated? {{ auth }}{% if auth %}... I always see you {{ user.email }}{% endif %}</p>
{% if auth %}
    <form action="{% url 'logout' %}" method="post">
        <button type="submit">Log Out</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Accedi</a>
{% endif %}

<!-- Categories Menu -->
<ul>
    {% for category in root_categories %}
        {% if category in ancestors %}
            <li>
                {% include 'products/subcategory.html' with category=category ancestors=ancestors selected_category=selected_category selected_colors=selected_colors %}
            </li>
        {% else %}
            <li>
                <a href="{% url 'search' %}
                         ?category={{ category.id }}{% if search_terms %}
                         &search_terms={{ search_terms }}{% endif %}{% if selected_colors %}{% for color in selected_colors %}
                         &color={{ color.id }}{% endfor %}{% endif %}{% if selected_sizes %}{% for size in selected_sizes %}
                         &size={{ size.id }}{% endfor %}{% endif %}"
                >{{ category.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<!-- Text Filter Section -->
<form style="border: 1px solid black" action="{% url 'search' %}" method="get">
    {% if selected_category %}
        <input type="hidden" name="category" value="{{ selected_category.id }}">
    {% endif %}
    {% if selected_colors %}
        {% for color in selected_colors %}
            <input type="hidden" name="color" value="{{ color.id }}">
        {% endfor %}
    {% endif %}
    {% if selected_sizes %}
        {% for size in selected_sizes %}
            <input type="hidden" name="size" value="{{ size.id }}">
        {% endfor %}
    {% endif %}

    <input type="text" name="search_terms" id="search_terms" placeholder="Cerca il tuo prodotto"
           {% if search_terms %}value="{{ search_terms }}"{% endif %}>
    <input type="submit" value="Search">
</form>

<!-- Colors and Sizes Filter Section -->
<form style="border: 1px solid black" action="{% url 'search' %}" id="filtersForm" method="get">
    {% if selected_category %}
        <input type="hidden" name="category" value="{{ selected_category.id }}">
    {% endif %}
    {% if search_terms %}
        <input type="hidden" name="search_terms" value="{{ search_terms }}">
    {% endif %}

    <div class="filters">
        <p>Colors</p>
        {% for color in colors %}
            <input type="checkbox" name="color" id="color_{{ forloop.counter }}" value="{{ color.id }}"
                    {% if color in selected_colors %} checked {% endif %}
                   onchange="document.getElementById('filtersForm').submit();">
            <label style="color: #{{ color.hex }}" for="color_{{ forloop.counter }}">{{ color.name }}</label><br>
        {% endfor %}
    </div>

    <div class="filters">
        <p>Sizes</p>
        {% for size in sizes %}
            <input type="checkbox" name="size" id="size_{{ forloop.counter }}" value="{{ size.id }}"
                    {% if size in selected_sizes %} checked {% endif %}
                   onchange="document.getElementById('filtersForm').submit();">
            <label for="size_{{ forloop.counter }}">{{ size.name }}</label><br>
        {% endfor %}
    </div>
</form>

<!-- Start Content # mostra i prodotti -->
{% if products %}
    <h1>Products:</h1>
    <ul>
        {% for product in products %}
            <li><a href="{% url 'product' product.id %}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nessun prodotto disponibile</p>
{% endif %}

</body>
</html>
