<div class="flex flex-col justify-center">
  <div class="flex flex-wrap justify-center gap-0 lg:gap-2">
    <!-- Aside - Filter Section -->
    <div class="relative w-96">
      <div class="sticky top-10">
        <div class="flex flex-col justify-center items-center gap-10 w-full">
          <!-- Categories Filter Section -->
          <div class="flex flex-col gap-2 w-full">
            <div class="flex flex-col justify-center items-center border border-black p-2 w-full">
              <h2 class="text-gray-900 dark:text-stone-200 text-2xl font-manrope text-center">
                {% if selected_category %}
                  {{ selected_category.name|upper }}
                {% else %}
                  CATEGORIE
                {% endif %}
              </h2>
            </div>
            <div class="border border-solid border-black px-5 py-4 w-full">
              {% for category in categories %}
                <div class="flex flex-col">
                  <a
                      hx-target="#content"
                      hx-push-url="true"
                      hx-include="#filtersForm"
                      preload="mouseover" preload-images="true"
                      {% if category %}
                      hx-get="{% url 'search_category' category.id %}"
                      href="{% url 'search_category' category.id %}"
                        {% if selected_category.parent == category %}
                          class="text-blue2 dark:text-sky-500 dark:hover:text-sky-600"> &#8656;
                        {% else %}
                          class="{% if selected_category %} pl-4 {% endif %} hover:underline">
                        {% endif %} {{ category.name|upper }}
                      {% else %}
                        class="text-blue2 dark:text-sky-500 dark:hover:text-sky-600"
                        hx-get="{% url 'search' %}"
                        href="{% url 'search' %}" > &#8656; TUTTI I PRODOTTI
                      {% endif %}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>

          <!-- Filters Section -->
          <div class="flex flex-col gap-2 w-full">
            <div class="flex flex-col justify-center items-center border border-black p-2 w-full">
              <h2 class="text-gray-900 dark:text-stone-200 text-2xl font-manrope text-center">FILTRI</h2>
            </div>
            <div class="grid grid-cols-1 justify-center gap-6 p-6 border border-solid border-black dark:border-stone-500"
              id="filtersForm">
              <!-- Text Search Bar -->
              <input type="text" name="search_terms" id="search_terms" placeholder="Cerca il tuo prodotto"
                     autocomplete="off"
                     {% if search_terms %}value="{{ search_terms }}"{% endif %}
                     hx-get="{% if selected_category %}{% url 'search_category' selected_category.id %}{% else %}{% url 'search' %}{% endif %}"
                     hx-target="#content"
                     hx-push-url="true"
                     hx-include="#filtersForm"
                     hx-trigger="keyup changed delay:0.5s"
                     preload="mouseover" preload-images="true"
                     class="dark:bg-darkbg"
              >

              <!-- Brands Filter -->
              <div class="filters">
                {% if brands %}
                  <div class="flex flex-col justify-center px-2 py-1">
                    <div class="w-full">
                      <p class="text-center">MARCA</p>
                    </div>
                    <div class="inline-flex flex-wrap justify-center items-center gap-4 py-2">
                      {% for brand in brands %}
                        <div class="w-auto">
                          <input type="checkbox" name="brand" id="brand_{{ forloop.counter }}"
                             class="hidden peer"
                             value="{{ brand.id }}"
                             autocomplete="off"
                          {% if brand in selected_brands %} checked {% endif %}
                             hx-get="
                                 {% if selected_category %}{% url 'search_category' selected_category.id %}{% else %}{% url 'search' %}{% endif %}"
                             hx-target="#content"
                             hx-push-url="true"
                             hx-include="#filtersForm"
                             preload="mouseover" preload-images="true"
                      >
                          <label for="brand_{{ forloop.counter }}"
                                 class="text-sm items-center justify-between
                                    cursor-pointer border border-black dark:border-stone-500 px-4
                                    peer-checked:outline outline-2 outline-black dark:outline-stone-400 outline-offset-2">
                              <span class="text-center">{{ brand.name }}</span>
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>

              <!-- Color Filter -->
              <div class="filters">
                {% if colors %}
                  <div class="flex flex-col justify-center px-2 py-1">
                    <div class="w-full">
                      <p class="text-center">COLORE</p>
                    </div>
                    <div class="inline-flex flex-wrap justify-center items-center gap-4 py-2">
                      {% for color in colors %}
                        <div class="w-10 h-5">
                          <input type="checkbox" name="color" id="color_{{ forloop.counter }}"
                                 class="hidden peer"
                                 value="{{ color.id }}"
                                 autocomplete="off"
                              {% if color in selected_colors %} checked {% endif %}
                                 hx-get="{% if selected_category %}{% url 'search_category' selected_category.id %}{% else %}{% url 'search' %}{% endif %}"
                                 hx-target="#content"
                                 hx-push-url="true"
                                 hx-include="#filtersForm"
                                 preload="mouseover" preload-images="true"
                          >
                          <label for="color_{{ forloop.counter }}"
                                 style="background-color:#{{ color.hex }};"
                                 class="inline-flex items-center justify-between w-full py-2
                                      cursor-pointer border border-black dark:border-stone-500
                                      peer-checked:outline outline-2 outline-black dark:outline-stone-400 outline-offset-2">
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>

              <!-- Size Filter -->
              <div class="filters">
                {% if sizes %}
                  <div class="flex flex-col justify-center px-2 py-1">
                    <div class="w-full">
                      <p class="text-center">TAGLIA</p>
                    </div>
                    <div class="inline-flex flex-wrap justify-center items-center gap-4 py-2">
                      {% for size in sizes %}
                        <div class="w-auto">
                          <input type="checkbox" name="size" id="size_{{ forloop.counter }}"
                                 value="{{ size.id }}" class="hidden peer"
                                 autocomplete="off"
                              {% if size in selected_sizes %} checked {% endif %}
                                 hx-get="
                                     {% if selected_category %}{% url 'search_category' selected_category.id %}{% else %}{% url 'search' %}{% endif %}"
                                 hx-target="#content"
                                 hx-push-url="true"
                                 hx-include="#filtersForm"
                                 preload="mouseover" preload-images="true"
                          >
                          <label for="size_{{ forloop.counter }}"
                                 class="text-sm items-center justify-between
                                    cursor-pointer border border-black dark:border-stone-500 px-4
                                    peer-checked:outline outline-2 outline-black dark:outline-stone-400 outline-offset-2">
                              <span class="text-center">{{ size.name }}</span>
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Content # mostra i prodotti -->
    {% if products %}
      <div class="inline-flex flex-wrap justify-center items-center gap-4 lg:w-3/5 w-auto">
        {% for product in products %}
          <div>
            <div class="flex flex-col justify-center items-center">
              <a href="{% url 'product' product.id %}">
                <img class="object-contain h-[30rem] w-auto" src="{{ product.default_image }}" alt="{{ product.name }}">
              </a>
            </div>
            <div class="flex flex-col justify-center items-center px-2">
              <p>{{ product.name }}</p>
              <div class="flex flex-row justify-between gap-2">
                <p>{{ product.price }} EUR</p>
                <div class="mx-auto inline-flex items-center justify-center gap-1">
                  {% for color in product.get_first_three_colors %}
                    <div style="background-color: #{{ color.hex }};" class="w-5 h-5 border border-solid border-black rounded-md"
                         title="{{ color.name }}"></div>
                  {% endfor %}
                  {% if product.get_colors|length > 3 %}
                    <p>+</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>Nessun prodotto disponibile.</p>
    {% endif %}
  </div>
</div>
