
{% if category == selected_category %}
    <b>{{ category.name }}</b>
{% else %}
    <a href="{% url 'search' %}?category={{ category.id }}{% if selected_colors %}{% for color in selected_colors %}&color={{ color.id }}{% endfor %}{% endif %}{% if selected_sizes %}{% for size in selected_sizes %}&size={{ size.id }}{% endfor %}{% endif %}">{{ category.name }}</a>
{% endif %}
<ul>
    {% for child in category.get_children %}
        {% if child in ancestors %}
            <li>
                {% include 'products/subcategory.html' with category=child ancestors=ancestors selected_category=selected_category%}
            </li>
        {% else %}
            <li>
                <a href="{% url 'search' %}?category={{ child.id }}{% if selected_colors %}{% for color in selected_colors %}&color={{ color.id }}{% endfor %}{% endif %}{% if selected_sizes %}{% for size in selected_sizes %}&size={{ size.id }}{% endfor %}{% endif %}">{{ child.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
