<div id="user-review" hx-swap-oob="true">
  {% if has_reviewed %}
    <h3 class="text-gray-900 dark:text-stone-200 text-5xl font-manrope mt-10">La tua recensione</h3>
  {% else %}
    <h3 class="text-gray-900 dark:text-stone-200 text-5xl font-manrope mt-10">Lascia una
      recensione</h3>
  {% endif %}

  {% if has_reviewed %}
    {% if form %}
      {% url "edit_review" product.id as form_action %}
      {% include "products/review_form.html" with submit_text="Modifica Recensione" %}
    {% else %}
      <div class="inline-flex items-center gap-4">
        <button hx-get="{% url 'edit_review' product.id %}"
           class="text-lg font-manrope underline dark:text-white dark:hover:text-sky-600">Edit</button>
        <p class="text-xl">|</p>
        <form id="form{{ variant.id }}" method="post">{% csrf_token %}
          <button hx-post="{% url 'delete_review' product.id %}"
           class="text-lg font-manrope underline dark:text-white dark:hover:text-sky-600">Delete</button>
        </form>
      </div>
      {% include "products/review.html" %}
    {% endif %}
  {% elif not user.is_authenticated %}
    <p class="text-normal text-justify mt-2"><a href="{% url 'login' %}" class="font-semibold
    text-indigo-600 dark:text-sky-55555over:text-indigo-500 dark:hover:text-sky-600">Accedi</a> per
      pubblicare una
      recensione.</p>
  {% elif not has_purchased %}
    <p class="text-normal text-justify mt-2">Non hai acquistato l'articolo.</p>
  {% else %}
    {% url "add_review" product.id as form_action %}
    {% include "products/review_form.html" with submit_text="Invia Recensione" %}
  {% endif %}
</div>
